html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: #efefef;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: 'Cabin',-apple-system,BlinkMacSystemFont,Helvetica,"Segoe UI",Arial,sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  width: 100%;
  height: auto;
}
html {
    height: 100%;
}
body {
    background-color: #1E2120;
    height: 100%;
}
button, a.button {
    padding: 12px 32px;
    border: 0;
    border-radius: 500px;
    color: #efefef;

    font-size: 16px;
    font-weight: bold;
    font-family: 'Nanum Gothic',-apple-system,BlinkMacSystemFont,Helvetica,"Segoe UI",Arial,sans-serif;
    text-transform: uppercase;
    text-align: center;

    cursor: pointer;
}
a.primary, button.primary {
    text-decoration: none;
    background-color: #E88827;
}
a.alt, button.alt {
    text-decoration: none;
    background-color: #15C984;
}

h1, h2, h3 {
    font-family: 'Nanum Gothic',-apple-system,BlinkMacSystemFont,Helvetica,"Segoe UI",Arial,sans-serif;
}
h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    line-height: 1.25;
}
h4 {
    font-size: 24px;
    line-height: 1.15;
}
p {
    font-size: 16px;
    margin-bottom: 12px;
}
main {
    display: flex;
    overflow: hidden;
    height: 100%;
    scroll-behavior: smooth;
}
section {
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}
section.center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.sub-section {
    width: calc(100% - 32px);
    margin-bottom: 24px;
}
@media(min-width: 900px) {
    .sub-section {
        width: 640px;
    }
}

#recorder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px;
    text-align: center;
    overflow-y: auto;
}
#record {
    padding: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
}
.album {
    padding: 4px;
    background-color: #4d4d4d;
    max-width: 300px;
    margin-bottom: 16px;
}
#playlists {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.accordion {
    transition: height 250ms ease-in-out;
    overflow: hidden;
    height: 100%;
}
.accordion-closed {
    height: 0;
}

.transition-fade-in {
    transition: opacity 250ms ease-out;
    opacity: 1;
}
.transition-fade-in-hidden {
    opacity: 0;
}

.hidden {
    display: none;
}

.canvas-wrapper {
    position: relative;
}
.canvas-wrapper #record {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}